<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown"  		data-menu-vertical="true" 		 data-menu-dropdown="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/team" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-text">
							TEAM SETTINGS
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
					<a  routerLink="/membership" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon flaticon-open-box"></i>
					<span class="m-menu__link-text">
							MEMBERSHIP DETAILS
					</span>
					
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
					<a  routerLink="/apikey" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon flaticon-layers"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
									API KEY
							</span>
							
						</span>
					</span>
				
				</a>
			
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
					<a routerLink="/account" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<i class="m-menu__link-icon flaticon-lifebuoy"></i>
					<span class="m-menu__link-text">
							MY ACCOUNT
					</span>
					
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
